@import 'bootstrap/dist/css/bootstrap.min.css';

.Carousel {
 font-family: sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 // margin-top: 10rem;
}


.rec-carousel-item:focus {
 outline: none;
 box-shadow: inset 0 0 1px 0px violet;
}

.rec-pagination {
 display: none;
}