body {
	background: #eee;	
}

.login-wrapper {	
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.auth-inner{
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1); 
    border-radius: 10px;

}

.photo{
  border-radius: 35%;
  display: block;
  text-align: center;
  margin: 20px auto;
}